.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 6px 0px 0px 17px;
    background-color: #58b7ae2e;
    color: white;
    transition: 1s;
    width: auto;
    display: flex;
    justify-content: space-between;
}

    .closed {
        padding: 10px;
        background-color: #58b7ae;

    }

    .closed > .container {
        display: none;
    }

    .user {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }


      .my-input{
        border-radius: 4px;
        background-color: #4b8c86;
        border: 0;
        color: white;
        width: 100px;
      }
        ::placeholder {
           color: #c6f0ec;
           font: menu;
           padding-left: 5px;
        }

        .container{
            text-align: center;
            display: flex;
            flex-direction: column;
        }

        .container > p {
            text-align: left;
            font-size: 13px;
        }

        .logo-nav{
            text-shadow: 2px 2px #bf3f3f;
            font-size: 30px;
            font-weight: 100;
            margin-right: 30px;

        }