.right-bar{
    display: flex
}

.right-bar > a{
    margin-right: 5px;
    letter-spacing: 2px;
    font-weight: 100;
    padding-top: 11px;
    cursor: pointer;
}
  
.right-bar > i{
    margin-right: 10px !important;  
    margin-left: 10px;
    padding-top: 15px !important;
}