.post{
    width: 50%;
    text-align: left;
    background-color: #f3f3f3;
    padding: 15px;
    border: 2px groove #000000;
    color: #4e4d4d;
    margin-bottom: 20px;
    border-radius: 4%;
}

.post-container{
    display: flex;
    justify-content: center;
}
.post-title {
    text-transform: uppercase;
    font-style: italic;
}

.list-divider {
    height: 3px;
    background-color: #fff;
}